<div class="container">
  <div class="jumbotron col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2>
          Appraise
        </h2>
      </div>
      <!--<h2>-->
      /əˈpreɪz/
      <!--</h2>-->
      <!--<h4>(verb; assess the value or quality of)</h4>-->

    </div>
    <input class="text-center" type="text" data-hint="{{searchTermHint}}"
           ng-model="searchTerm" placeholder="{{searchTermDefault}}">

    <button class="btn btn-sm btn-primary btn-raised margin">Go</button>
  </div>

  <div class="row marketing">
  </div>
</div>
