<div class="container">
    <div class="jumbotron col-md-6 margin">
      <p class="lead">
        <img src="images/android_medium.png" alt="Android"><br>
      </p>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Google Play Store</h3>
        </div>
        <table class="table table-hover table-curved">
          <tr ng-repeat="result in results" ng-click='go("/analysis")'>
            <td>{{result}}</td>
          </tr>
        </table>
      </div>
    </div>

    <div class="jumbotron col-md-6 margin">
      <p class="lead">
        <img src="images/ios_medium_2.png" alt="iOS"><br>
      </p>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Apple AppStore</h3>
        </div>
        <div class="panel panel-default">
          <span>Sorry, there is no support for the Apple AppStore - yet!</span></div>
      </div>
    </div>
  </div>
